boto3
botocore-stubs
dill
dnspython
matplotlib
seaborn
evidently
fastapi
from-root
httptools
imblearn
mypy-boto3-s3
pip-chill
pymongo
jinja2
python-dotenv
types-s3transfer
uvicorn
watchfiles
websockets
xgboost
catboost
python-multipart
neuro_mf
